/* font styles for all common shared  */
body {
    font-family: "Open Sans", sans-serif;
   }
.btn-primary{
border-radius:5px;
background: #FD6E0A;
border:0;
color:aliceblue;
font-size: 20px;
font-weight: 480;
padding:15px 36px;
}
.section-title{
  color:#181818;
  text-align: center;
  /* This can be use in several section */
  font-size: 35px;
  font-weight: 700;
}
/* styles for nav */
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 200px;
}
.nav-title{  
font-weight: 800;
font-size: 45px;
color: #181818;

}
/* same color orange */
.text-color{
  color: #FD6E0A;
}
/* Nav links flexig */
nav > ul{
  display: flex;
  align-items: center;
}
nav  li {
  list-style: none;
  margin: 45px;
  
}

ul a {
  text-decoration: none;
  color:#474747;
}
/* banner related styles */
.header-style{
  background:#FFF8F3 ;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bnr-intro{
  max-width: 400px;
}
.banner .profile-img{
  width: 400px;
  
}
.bnr-greeting{
  font-size: 45px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.welcome{
  margin-bottom: 0px;
}
/* main body part */
.about{
  background: #FFF8F3;
  padding:130px;
  margin: 130px 0px;
  
}
.description{
  color:#757575;
  text-align: center;
  font-size: 18px;
}
.main-section{
  max-width: 1140px;
  margin: 0 auto;
}
.sec-info-container{
  display: flex;
  justify-content: space-around;
  
}
.about-info{
  text-align: center;
}
.section-title{
  text-align: center;
}
#i-do-des{
  padding: 30px 150px;
}

/* skills part start  */
.skills-container{
  display: flex;
  margin: 0px 150px;
  gap: 24px;
  /* text-align: center; */
}
.skill{
  /* margin: 24px; */
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 6px 6px 0px;
  padding: 15px;
}
.section-headding{
  text-align: center;
  margin:50px auto;
}
.resume-container{
  display: flex;
  justify-content:space-around;
}
.resume-column{
    max-width:400px;
       align-items: center;
 
  }